*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  background: #f4f4f4;
  color: #333;
  padding: 8rem; }

.p-1 {
  padding-right: 0.5rem; }

.p-2 {
  padding-right: 1rem; }

hr {
  margin: 1rem 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.heading {
  display: block;
  font-weight: 400;
  margin-left: 2rem; }

.subheading {
  margin-left: 2rem;
  font-size: 1.3rem; }
  .subheading span {
    font-weight: 500; }

.star-half::after {
  display: inline-block;
  content: url("../star-half.svg"); }

.card {
  display: inline-block;
  position: relative;
  width: 30rem;
  overflow: auto;
  min-width: 24rem;
  margin: 2rem;
  border: 1px solid rgba(160, 160, 160, 0.2);
  background: #ffffff;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .card__img {
    position: relative;
    overflow: hidden;
    height: 18rem; }
    .card__img--main {
      width: 100%;
      height: inherit; }
    .card__img--logo {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30%;
      height: 4rem; }
  .card__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0; }
  .card__content {
    position: relative;
    padding: 0 1.3rem;
    font-size: 1.2rem;
    font-weight: 400; }
    .card__content--days .icon {
      height: 2.25rem;
      fill: #333;
      width: 2.25rem;
      z-index: 10000; }
    .card__content--itinerary {
      word-wrap: break-word;
      line-height: 1.8rem; }
      .card__content--itinerary .show-tours {
        color: #0072ea;
        font-size: 1.2rem;
        padding-left: .5rem;
        font-style: bold;
        border: none;
        cursor: pointer; }
      .card__content--itinerary .show-tours:focus {
        outline: none; }
      .card__content--itinerary .hide {
        display: none; }
      .card__content--itinerary .reveal {
        display: inline; }
    .card__content::first-child {
      margin-right: 0.5rem; }
    .card__content--info {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 1rem 1rem; }
      .card__content--info .tip {
        font-size: 1.4rem; }
        .card__content--info .tip svg {
          cursor: pointer;
          outline: none; }
        .card__content--info .tip svg:hover ~ .tip__modal {
          display: block; }
        .card__content--info .tip__modal {
          display: none;
          position: absolute;
          background-color: #080808;
          width: 20rem;
          opacity: .85;
          padding: .9rem;
          border-radius: 2px;
          line-height: 1.4;
          font-weight: 300;
          color: #fff;
          font-size: 1.3rem;
          bottom: 7.3rem;
          left: 1.8rem;
          z-index: 10; }
        .card__content--info .tip span {
          font-size: 1.2rem;
          margin-right: 0.3rem;
          color: #9aa2a9; }
        .card__content--info .tip .price {
          position: relative;
          padding-left: 0.7rem;
          font-weight: 500;
          font-size: 2.5rem; }
          .card__content--info .tip .price span {
            position: absolute;
            color: #000000;
            top: -1rem;
            left: 0;
            font-weight: 400;
            font-size: 1.2rem; }
      .card__content--info .view {
        color: #fff;
        font-size: 1.5rem;
        padding: 1.3rem;
        text-transform: uppercase;
        background-color: #0072ea;
        cursor: pointer;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); }
      .card__content--info .view:focus {
        background: #5521f3;
        outline: none;
        transition: all 0.5s; }
